<div class="card {% if is_source %}hidden{% endif %}"{% if card.user.color %} style="background-color: #{{ card.user.color }}"{% endif %}{% if is_source %} id="source-card"{% else %} data-card-id="{{ card.pk }}"{% endif %}>
  <div class="actions">
    <a name="save-card" class="button-link toggle hidden">✔️</a>
    <a name="cancel-card" class="button-link toggle hidden">❌</a>
    <a name="edit-card" class="button-link toggle">✏️</a>
    {% if not is_source %}<a name="delete-card" class="button-link">🗑️</a>{% endif %}
  </div>
  <div class="display toggle">
    <div class="text">{{ card.text }}</div>
    <div class="user">{{ card.user.name }}</div>
  </div>
  <div class="edit toggle hidden">
    <div>
      <textarea name="text" placeholder="Text">{{ card.text }}</textarea>
    </div>
    <div>
      <input name="user" value="{{ card.user.name }}" placeholder="User">
    </div>
    <div class="errors">
    </div>
  </div>
</div>
