<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scraty</title>
  <style>
    body {
      margin: 10px;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }

    td {
      border: 1px solid;
      vertical-align: top;
    }

    .stories {
      width: 250px;
    }
    .stories textarea,
    .stories input {
      width: 244px;
      border: 1px solid;
      padding: 1px;
      margin: 1px;
    }

    .button-link {
      cursor: pointer;
    }

    .card {
      width: 100px;
      height: 100px;
      border: 1px solid;
      margin: 10px;
      float: left;
      font-size: 0.8rem;
    }

    .card .actions {
      background-color: #e0e0e0;
      text-align: right;
    }

    .card .display {
      max-width: 94px;
      padding: 1px;
      margin: 1px;
    }

    .card textarea,
    .card input {
      width: 94px;
      border: 1px solid;
      padding: 1px;
      margin: 1px;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <td class="stories"></td>
      <td>Todo</td>
      <td>In Progrss</td>
      <td>Verify</td>
      <td>Done</td>
    </tr>
    {% for story in stories %}
    <tr data-story-id="{{ story.pk }}">
      <td class="stories">
        <div class="display toggle">
          <div class="title">{{ story.title }}</div>
          <div class="link">{% if story.link %}<a href="{{ story.link }}">Link</a>{% endif %}</div>
        </div>
        <div class="edit toggle hidden">
          <textarea name="title" placeholder="Title">{{ story.title }}</textarea>
          <input name="link" value="{{ story.link }}" placeholder="Link">
          <div class="errors"></div>
        </div>
        <div class="actions">
          <a name="save-story" class="button-link toggle hidden">✔️</a>
          <a name="cancel-story" class="button-link toggle hidden">❌</a>
          <a name="edit-story" class="button-link toggle">✏️</a>
          <a name="delete-story" class="button-link">🗑️</a>
          <a name="add-card" class="button-link">🏷️</a>
        </div>
      </td>
      <td class="droppable" data-status="TODO">
        {% for card in story.cards_todo %}
        {% include "story/_card.html" %}
        {% endfor %}
      </td>
      <td class="droppable" data-status="IN_PROGRESS">
        {% for card in story.cards_in_progress %}
        {% include "story/_card.html" %}
        {% endfor %}
      </td>
      <td class="droppable" data-status="VERIFY">
        {% for card in story.cards_verify %}
        {% include "story/_card.html" %}
        {% endfor %}
      </td>
      <td class="droppable" data-status="DONE">
        {% for card in story.cards_done %}
        {% include "story/_card.html" %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    <tr class="hidden" id="source-row">
      <td class="stories">
        <div class="display toggle hidden">
          <div class="title"></div>
          <div class="link"></div>
        </div>
        <div class="edit toggle">
          <textarea name="title" placeholder="Title"></textarea>
          <input name="link" value="" placeholder="Link">
          <div class="errors"></div>
        </div>
        <div class="actions">
          <a name="save-story" class="button-link toggle">✔️</a>
          <a name="cancel-story" class="button-link toggle">❌</a>
          <a name="edit-story" class="button-link toggle hidden">✏️</a>
        </div>
      </td>
      <td class="droppable" data-status="TODO">
      </td>
      <td class="droppable" data-status="IN_PROGRESS">
      </td>
      <td class="droppable" data-status="VERIFY">
      </td>
      <td class="droppable" data-status="DONE">
      </td>
    </tr>
    <tr>
      <td colspan="5"><a id="add-story">Add a story</a></td>
    </tr>
  </table>

  <a href="{% url 'users' %}">Manage Users</a>

  {% include "story/_card.html" with is_source=True %}

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      var urls = {
        save_story: "/stories/",
        delete_story: "/stories/:id/",
        save_card: "/cards/",
        delete_card: "/cards/:id/",
        move_card: "/cards/:id/story/:story/move/:status/",
      }
      var draggable_options = {
        handle: ".actions",
        revert: true,
        revertDuration: 0,
        zIndex: 9999,
      };

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", Cookies.get("csrftoken"));
          }
        }
      });

      $("#add-story").click(function (e) {
        var source_row = $("#source-row");
        $("#source-row").clone(true).removeAttr("id").insertBefore(source_row).removeClass("hidden");
        e.preventDefault();
      });

      function edit_story(e) {
        $(".toggle", $(this).parent().parent()).toggleClass("hidden");
      }
      $("[name=edit-story]").click(edit_story);

      $("[name=cancel-story]").click(function (e) {
        var story = $(this).parent().parent().parent();
        if (story.data("story-id") === undefined) {
          story.remove()
        } else {
          $(".toggle", $(this).parent().parent()).toggleClass("hidden");
        }
      });

      $("[name=save-story]").click(function (e) {
        var that = $(this);
        var td = that.parent().parent();
        var tr = td.parent();
        var is_new = tr.data("story-id") === undefined;
        $.ajax({
          type: "POST",
          url: urls.save_story,
          data: {
            id: tr.data("story-id"),
            title: $("[name=title]", td).val(),
            link: $("[name=link]", td).val(),
          },
        }).done(
          function (data) {
            tr.attr("data-story-id", data.id);
            $(".errors", td).empty();
            $(".display .title", td).text(data.title);
            $(".display .link", td).empty();
            if (data.link !== "") {
              $(".display .link", td).append($("<a>Link</a>").attr("href", data.link));
            }
            $(".toggle", td).toggleClass("hidden");
            if (is_new) {
              $(".actions", td).append($('<a name="delete-story" class="button-link">🗑️</a>').click(delete_story))
                .append(" ")
                .append($('<a name="add-card" class="button-link">🏷️</a>').click(add_card));
            }
          }
        ).fail(
          function (xhr) {
            data = xhr.responseJSON;
            console.log(data);
            var errors = $(".errors", td);
            errors.empty();
            $.each(data, function (f, v) {
              var row = `${f}:`;
              $.each(v, function (i, t) { var m = t.message; row = `${row} ${m}` });
              errors.append(row);
              errors.append($("<br>"));
            })
          }
        );
        e.preventDefault();
      });

      function delete_story(e) {
        var td = $(this).parent().parent();
        var tr = td.parent();
        var id = tr.data("story-id");
        var text = $(".display .title", td).text().trim();
        if (window.confirm(`Do you really want to delete the story "${text}"`)) {
          $.ajax({
            type: "POST",
            url: urls.delete_story.replace(/:id/, tr.data("story-id")),
          }).done(
            function (data) {
              tr.remove();
            }
          ).fail(
            function (xhr) {
              console.log(xhr.responseText);
            }
          );
        }
        e.preventDefault();
      }
      $("[name=delete-story]").click(delete_story);


      function add_card(e) {
        var card = $("#source-card").clone();
        $("[name=edit-card]", card).click(edit_card);
        $("[name=save-card]", card).click(save_card);
        $("[name=cancel-card]", card).click(cancel_card);
        $("[name=delete-card]", card).click(delete_card);
        $(".toggle", card).toggleClass("hidden");
        card.removeAttr("id")
          .appendTo($(this).parent().parent().next())
          .draggable(draggable_options)
          .removeClass("hidden");
        e.preventDefault();
      };
      $("[name=add-card]").click(add_card);

      function edit_card(e) {
        $(".toggle", $(this).parent().parent()).toggleClass("hidden");
        e.preventDefault();
      }
      $("table [name=edit-card]").click(edit_card);

      function save_card(e) {
        var card = $(this).parent().parent();
        var column = card.parent();
        var story = column.parent();
        var is_new = card.data("card-id") === undefined;
        var data = {
          id: card.data("card-id"),
          story: story.data("story-id"),
          text: $("[name=text]", card).val().trim(),
          status: column.data("status")
        }
        var user = $("[name=user]", card).val().trim();
        if (user !== "") {
          data.user = user;
        }
        $.ajax({
          type: "POST",
          url: urls.save_card,
          data: data,
        }).done(
          function (data) {
            card.attr("data-card-id", data.id);
            $(".errors", card).empty();
            $(".display .text", card).text(data.text);
            if (data.user !== null) {
              $(".display .user", card).text(data.user.name);
              card.css("background-color", `#${data.user.color}`);
              $(".display .link", card).append($("<a>Link</a>").attr("href", data.link));
            } else {
              $(".display .user", card).empty();
              card.css("background-color", "");
            }
            $(".toggle", card).toggleClass("hidden");
            if (is_new) {
              $(".actions", card).append($('<a name="delete-card" class="button-link">🗑️</a>').click(delete_card))
            }
          }
        ).fail(
          function (xhr) {
            data = xhr.responseJSON;
            console.log(data);
            var errors = $(".errors", card);
            errors.empty();
            $.each(data, function (f, v) {
              var row = `${f}:`;
              $.each(v, function (i, t) { var m = t.message; row = `${row} ${m}` });
              errors.append(row);
              errors.append($("<br>"));
            })
          }
        );
        e.preventDefault();
      }
      $("table [name=save-card]").click(save_card);

      function cancel_card(e) {
        $(".toggle", $(this).parent().parent()).toggleClass("hidden");
        e.preventDefault();
      }
      $("table [name=cancel-card]").click(cancel_card);

      function delete_card(e) {
        var card = $(this).parent().parent();
        var id = card.data("card-id");
        var text = $(".display .text", card).text().trim();
        if (window.confirm(`Do you really want to delete the card "${text}"`)) {
          $.ajax({
            type: "POST",
            url: urls.delete_card.replace(/:id/, id),
          }).done(
            function (data) {
              card.remove();
            }
          ).fail(
            function (xhr) {
              console.log(xhr.responseText);
            }
          );
        }
        e.preventDefault();
      }
      $("table [name=delete-card]").click(delete_card);

      $(".card").draggable(draggable_options);

      $(".droppable").droppable({
        drop: function (event, ui) {
          var that = $(this);
          var id = ui.draggable.data("card-id");
          var story_id = $(this).parent().data("story-id");
          var status = $(this).data("status");
          $.ajax({
            type: "POST",
            url: urls.move_card.replace(/:id/, id).replace(/:story/, story_id).replace(/:status/, status),
          }).done(
            function (data) {
              ui.draggable.appendTo(that);
            }
          ).fail(
            function (xhr) {
              console.log(xhr.responseText);
            }
          );
        }
      });
    });
  </script>

</body>

</html>
