{% extends "story/base.html" %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ formset.management_form }}
  <table class="users">
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Delete</th>
    </tr>
    {% for form in formset %}
    <tr>
      <td>
        {{ form.name }}
      </td>
      <td>
        {{ form.color }}
      </td>
      <td>
        {{ form.DELETE }}
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit" class="button"><i class="fi-save"></i> Save</button> <a href="{% url 'index' %}" class="button secondary"><i class="fi-thumbnails"></i> Back to the board</a>
</form>
{% endblock %}
